extends layout

block title
	title #{ user.name.toUpperCase().split('.').join(' ') } - Testovací stroje

block content

	table.table(cellspacing=0)
		thead
			tr
				th.user(colspan=2)
					span= user.name.split('.').join(' ')
				th.change
					a(href="/")
						i.typcn.typcn-th-menu
			
			tr.header
				th.w150 Server
				th.w150 Web
				th.w300 Tickety

		tfoot
			tr
				td.addserver
					i.typcn.typcn-plus
					span Přidat server
				td.foot(colspan=2)
					span.baked Baked in
						a(href="https://www.facebook.com/sayahoyahoy")
							i.typcn.typcn-anchor 
							| AHOYAHOY
					span.fork Fork me on 
						a(href="https://github.com/ahoyahoy/testmachines") Github
		


block templates
	script#web-tmpl(type="text/template")
		tr
			<% if(i === 0) { %>
			td.name(rowspan="<%= lngth %>") <%= name %>
				i.typcn.typcn-edit.edit
			<% } %>
			td.web
				a(href="http://<%= name %>:<%= desc.url %>") <%= desc.label %>
					span <%= name %>:<%= desc.url %>
					i.typcn.typcn-chevron-right
			td.tickets 
				span.add
					i.typcn.typcn-plus

	script#ticket-tmpl(type="text/template")
		a.ticket(href="#") #<%= number %>
			span <%= date %>
			u.remove
				i.typcn.typcn-times

block scripts
	script
		var user= !{JSON.stringify(user)};

		var table = new app.TableView(user.data.servers);

		

		


